
        .header {
            background-color: red;
            height: 70px;
            margin-bottom: 5px;
        }

        .container{
            display: block;
            border: 1px solid black;
            justify-content: space-around;
            padding: 10px;
        }

        .containerbis{
            justify-content: space-around;
            padding: 120px;
        }

        .second{
            background-color: goldenrod;
            height: 50px;
            width: 100%;
            margin-bottom: 10px;
        }

        .ligne3-1, .ligne3-2, .ligne4-1, .ligne4-2 {
            height: 230px;
            width: 30%;
        }



        .ligne3-1{
            background-color: yellowgreen;
        }
        .ligne3-2 {
            background-color: darkblue;
        }

        .ligne4-1{
            background-color: purple;
        }

        .ligne4-2 {
            background-color: red;
        }

        .container2 {
            display: flex;
            padding-left: 500px;
        }

        .footer{
            margin-top: 20px;
            background-color: deeppink;
            height: 70px;
        }
