
    .header{
        display: flex;
        justify-content: space-between;
        padding: auto;
    }

    .grey{
        flex-grow: 1;
        width: auto;
        height: auto;
        margin-right: auto;
        padding: auto;
    }

    .pink{
        flex: 2;
        flex-flow: column;
        background-color: transparent;
        margin-top: 10%;
        width: auto;
        height: 40px;
        padding-left: 20%;
        tab-interval: 10px;
        padding-bottom: 30px;
    }


    .box1{
        display: grid;
        background-image: url("banner.png");
        grid-template-rows: auto auto;
        align-items: center;
        padding: 20px;
    }
    .green1{
        flex: 1;
        background-color: transparent;
        height: 150px;
        width: 60%;
        margin-left: 40%;
        margin-right: auto;
        margin-bottom: 5px;
    }

    .blue1{
        flex: 2;
        background-color: transparent;
        height: 100px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .maron1{
        background-color: transparent;
        width: 30%;
        max-height: 300px;
        margin-left: 40%;
        margin-bottom: 20px;
    }

    .box2{
        display: grid;
        padding: 5px;
        margin-top: 5px;
    }

    .box2-1{
        grid: 2;
        display: flex;
        padding: 5px;
        place-content: space-between;
        margin-top: 5px;
        margin-bottom: 200px;
    }

    .green2{
        grid: 1;
        background-color: transparent;
        text-align: center;
        height: 100px;
        width: 60%;
        padding-top: 300px;
        margin-left: 400px;
        margin-right: auto;
    }

    .blue2{
        width: 20%;
        max-height: 50vh;
        height: 370px;
        margin: auto;
        margin-left: 10%;
        position: absolute;
    }

    .purple{
        background-color: white;
        width: 50%;
        height: 100px;
        margin-left: 70%;
        margin-top: 15%;
    }

    .green3{
        background-color: transparent;
        height: 70px;
        text-align: center center;
        width: 60%;
        margin-left: 50%;
        margin-right: auto;
    }

    .blue3{
        width: 20%;
        height: 360px;
    }

    .purple2{
        background-color: transparent;
        width: 30%;
        height: 100px;
        margin: auto;
        margin-left: 5%;
    }

    .box3{
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;

    }

    .maron2{
        background-color: transparent;
        padding: 20px;
        height: 70px;
        width: 98%;
        margin-left: 48%;
    }

    .grey2{
        flex: 1;
        background-image: url("carte1.jpg");
        background-position: center;
        background-size: cover;
        margin: 5px;
        height: 300px;
        width: 48.5%;
        padding: 20px;
    }

    .grey3{
        flex: 2;
        margin: 5px;
        height: 300px;
        width: 48.5%;
        padding: 20px;
    }

    .noir{
        background-color: transparent;
        align-items: center center;
        width: 100;
        height: 70px;
        margin-left: 45%;
    }

    .conteneur {
            text-align: center;
        }

    .mon-element {
        color: black;
        transition: color 0.3s ease;
        display: inline-block;
    }

    .mon-element:hover {
        color: orangered;
    }



