
.body{
    background-color: white;
    margin-left: 10%;
    font-family: Verdana, sans-serif;
    padding: 12px 300px 12px 300px;
}

/*Header Ligne 1*/
.header{
    display: flex;
    flex-direction: row;
    width: 1920px;
    height: 108px;
    margin-bottom: 50px;

}

.logo{
    flex:1;
    margin: 20px;
    width: 10%;
    height: 5%;
    position: absolute;
    border-right: darkgray solid;
    padding: 10px;
}

.menu{
    flex: 2;
    margin-top: 30px;
    margin-left: 260px;
    margin-right: 300px;
    width: 50%;
    height: 5%;
}

.Infos{
    flex: 3;
    margin-left: 10px;
    margin-right: 50px;
    margin-top: 20px;
    width: 50px;
    height: 5%;
}

.conteneur-gauche{
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.elements-gauche{
    color: darkgray;
    transition: color 0.3s ease;
    font-size: 20px;
    padding: 10px;
    display: inline-block;
}

.elements-gauche:hover{
    color :#8CB5F3;
}

.conteneur-droite{
    flex: 3;
    display: flex;
    justify-content: start;
    align-items: center;
}
.elements-droite{
    background-color: #F0F5FF;
    color: #7EACF2;
    transition: color 0.3s ease;
    font-size: 20px;
    padding: 10px;
    display: inline-block;
    border-radius: 7%;
    margin-right: 5px;
}

.elements-droite:hover{
    background-color: #0D64E5;
    color: white;
}


/*--------------------------------* Fin ligne 1  *------------------------------------/

/*--------------------------------* Début Ligne2 *----------------------------------*/

.ligne2{
    display: flex;
    width: 1500px;
}

.block-text{
    height: auto;
    width: 60%;
    background-color: transparent;
    margin-top: 200px;
    margin-bottom: 50px;
    flex-direction: row;
}

.image1{
    width: 40%;
    height: 1000px;
    background-position: center;
    background-size: cover;
    background-image: url("UI Block/businessman-sitting-with-laptop-notebook-piggy-bank-funds-isolated-white-background 1.jpg");
}

.bloc-texte-titre{
    display: block;
    font-size: 40px;
    flex-wrap: nowrap;
    line-height: 20px;

}

.bloc-texte-second{
    display: block;
    flex-wrap: nowrap;
    font-size: 30px;
    line-height: 20px;
}

.bloc-texte-tris{
    display: block;
    flex-wrap: nowrap;
    font-size: 20px;
    line-height: 20px;
}


/*Fin Ligne 2---------------------------------------------------*/

/*Ligne 3-------------------------------------------------------*/

.Ligne3{
    display: flex;
    margin: auto;
    flex-direction: row;
    padding-bottom: 50px;
}

.log1{
    flex: 1;
    width: 20%;
    height: 250px;
}

.texte1{
    flex: 2;
    width: 35%;
    height: 250px;
}

.texte2{
    flex: 2;
    width: 30%;
    height: 250px;
}

.bloc-texte-2{
    display: block;
    font-size: xxx-large;
    flex-wrap: nowrap;
    line-height: 20px;
}

/* Fin Ligne 3--------------------------------------*/

/* Ligne 4--------------------------------------*/


.ligne4{
    display: flex;
    margin: auto;
    flex-direction: row;
    padding: 5px;
}

.box1, .box2, .box3 {
    display: inline-block;
    height: 500px;
    width: 40%;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}
.box1 {
    background-color: #F0F5FF;
}

.box2 {
    background-color: #FEEDFA;
}

.box3 {
    background-color: #F5F6F7;
}

.titre{
    width: 100%;
    font-size: xx-large;
    margin-left: 20px;
}

.texte{
    width: 100%;
    font-size: larger;
    margin-left: 10px;
    color: gray;
}

.image2{
    align-items: center;
    margin-top: 40px;
    margin-left: 40px;
    color: darkgray;
}

.button1{
    background-color: white;
    color: #7EACF2;
    transition: color 0.3s ease;
    font-size: 20px;
    width: 200px;
    padding: 10px;
    display: inline-block;
    border-radius: 7%;
    margin: auto;
    text-align: center;
}

.elements1:hover{
    background-color: #0D64E5;
    color:#7EACF2;


}


.button2{
    background-color: white;
    color: mediumpurple;
    transition: color 0.3s ease;
    font-size: 20px;
    width: 200px;
    padding: 10px;
    display: inline-block;
    border-radius: 7%;
    margin: auto;
    text-align: center;
}

.elements2:hover{
    background-color: #0D64E5;
    color: #7EACF2;
}

.button3{
    background-color: white;
    color: black;
    transition: color 0.3s ease;
    font-size: 20px;
    width: 200px;
    padding: 10px;
    display: inline-block;
    border-radius: 7%;
    margin: auto;
    text-align: center;
}

.elements3:hover{
    background-color: #0D64E5;
    color: #7EACF2;
}

/*----------------Ligne5----------------------*/


.ligne5{
    display: block;
    padding: 12px 300px 12px 300px;
    background-color: #F5F6F7;
    height: auto;
}

.en-tete{
    text-align: center;
}

.image-en-ligne5{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-around;
    margin-bottom: 100px;
}

.image3, .image4, .image5{
    text-align: center;
    background-size: cover;
    width: 100%;
    margin: 0 10px;
}

.box4{
    display: block;
    width: 100%;
}

.titre2{
    width: 100%;
    font-size: xx-large;
    text-align: center;
}

.texte-bleu{
    color: #0D64E5;
    text-align: left;
    text-align: center;
}

/*-----------------------Fin Ligne 5------------------------- */

/*-----------------------Début Ligne 6-------------------------- */

.ligne6{
    display: flex;
    margin-top: 100px;
    margin-right: 15%;
    flex-direction: row;
}

.texte3{
    flex: 1;
    margin-left: 20%;
    font-size: 25px;
    width: 60%;
    line-height: 0.5;
    border-left: #0D64E5 solid;
    padding: 20px;
    height: auto;

}

.image6{
    flex: 2;
    width: 50%;
    margin-right: 5%;
}

.titre3{
    flex: 1;
    width: 60%;
    font-size: 60px;
    text-align: start;
    margin-left: 20%;
    line-height: 0;
}

/*-----------------------Fin Ligne 6------------------------- */

/*-----------------------Début Ligne 7-------------------------- */


.ligne7{
    display: block;
    margin: auto;
    padding: 12px 300px 12px 300px;
}


.en-tete2{
    text-align: center;
    font-size: xxx-large;
}

.image6, .image7, .image8, .image9{
    text-align: center;
    background-size: cover;
    width: 100%;
    margin: 0 10px;
}

.Nom{
    text-align: start;
    width: 100%;
    font-size: xx-large;
    margin-top: 10px;
}

.Fonction{
    text-align: start;
    width: 100%;
    font-size: x-large;
    margin-top: 10px;
}

.texte4{
    width: 100%;
    font-size: x-large;
    margin-left: 10px;
    text-align: center;
    margin-bottom: 20px;
}
/*-----------------------Fin Ligne 7------------------------- */

/*-----------------------Début Ligne 8-------------------------- */

.ligne8{
    display: flex;
    text-align: start;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;

}

.texte5{
    display: block;
    text-align: start;
    font-size: xx-large;
    margin-right: 20%;
    line-height: 0;

}

.image10{
    text-align: center;
    background-size: cover;
    width: 10%;
    margin: 0 12px;
}
/*-----------------------Fin Ligne 8------------------------- */

/*-----------------------Début Ligne 9-------------------------- */

.ligne9{
    display: flex;
    width: 100%;
    margin: auto;
    padding: 5%;
    background-color: #061C3D;
    text-align: start;
}

.image11{
    flex: 1;
    text-align: center;
}

.block-texte9{
    display: block;
    margin-top: 100px;
    width: auto;
    padding: 10px;
}

.titre9{
    text-align: left;
    color: #F5F6F7;
    font-size: 80px;
    line-height: 0;
    margin-top: 20px;
}

.texte9{
    text-align: left;
    color: #F5F6F7;
    font-size: xx-large;
    line-height: 0;
}
.texte9{
    text-align: left;
    color: #F5F6F7;
    font-size: xx-large;
    line-height: 0;
}

.elements-droite9{
    background-color: #0D64E5 ;
    color: white;
    transition: color 0.3s ease;
    font-size: xx-large;
    padding: 10px;
    display: inline-block;
    border-radius: 5%;
    margin-right: 5px;
}

.elements-droite9:hover{
    background-color: #F0F5FF;
    color: #7EACF2;
}
/*-----------------------Fin Ligne 9------------------------- */

/*-----------------------Debut Ligne 10------------------------- */

.ligne10{
    display: flex;
    margin: 40px;
    padding: 20px;
    justify-content: space-evenly;
}

.colonne1{
    display: block;
    margin-top: 20px;
}

.titre10{
    font-size: x-large;
    text-align: start;
    color: #6F7C8F;
    line-height: 0.2;
}

.texte10{
    display: block;
    font-size: x-large;
    text-align: start;
    line-height: 0.2;
}

.Liste{
    text-align: start;
    display: block;
    justify-content: space-between;
}
.elements-liste{
    color: darkgray;
    transition: color 0.3s ease;
    font-size: 20px;
    padding: 10px;
    position: relative;
    margin-bottom: 15px;
}

.elements-liste::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.elements-liste:hover{
    color: #8CB5F3;
}

.elements-liste:hover::before {
    background-color: #8CB5F3;
}

/*-----------------------Fin Ligne 10------------------------- */

.footer{
    font-size: x-large;
    color: #6F7C8F;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    border-color: darkgray;
}
