body {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    border: #7EACF2 solid;
}
/* Barre de navigation */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 10px 10px;
}

/* Logo */
.logo {
  font-size: 24px;
  color: #000;
}

/* Liens de navigation */
.nav-links {
  display: flex;
}

.nav-links a {
  margin-right: 20px;
  text-decoration: none;
  color: #000;
}

.bouton{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Boutons */
.button {
    padding:10px;
    background-color:#007bff;
    color:white;
    border:none;
    font-size: x-large;
    border-radius:5px;
    text-decoration: none;
}

.button:hover {
    background-color: white;
    color: #0D64E5;
}

/* Media Queries */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }
    .logo {
  font-size: 10px;
  color: #000;
}
  .nav-links {
    flex-direction: column;
    display: none;
  }

  .nav-links a {
    margin-bottom: 10px;
  }

  .bouton{
      display: none;
  }
}

/* Media Queries */
@media screen and (min-width: 601px) and (max-width: 900px) {
  .navbar {
    flex-direction: row;
  }
    .logo {
  font-size: 10px;
  color: #000;
}

  .nav-links {
    flex-direction: row;
    display: none;
      font-size: 2vw;
      display: none;
  }

  .nav-links a {
    margin-bottom: 10px;
  }

  .bouton{
      font-size: 5px;
      display: none;
  }
}

/*---------------* Fin ligne 1*/

/*Ligne2*/

.ligne2 {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    justify-content: center;
}

.block-text {
    flex: 1;
    width: 100%;
    height: 460px;
    margin-top: 100px;
    gap: 10px;
    opacity: 0px;
    z-index: auto;
}

.image1 {
    flex: 2;
    width: 1060px;
    height: 980px;
    background-image: url("UI Block/businessman-sitting-with-laptop-notebook-piggy-bank-funds-isolated-white-background 1.jpg");
    background-size: auto;
}

.bloc-texte-titre {

    font-family: Lexend;
    font-size: 30px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.018em;
    text-align: left;

}

.bloc-texte-second {
    font-size: 1.5vw;
    line-height: 1;
    margin-bottom: 10px;
}

.bloc-texte-tris {
    font-size: 1.25vw;
    line-height: 1;
}

.bouton1{
    display: flex;
    align-items: start;
    justify-content: space-evenly;
}

/* Boutons */
.button1 {
    padding:10px;
    background-color:#007bff;
    color: #7EACF2;
    border: solid;
    font-size: x-large;
    border-radius:5px;
    justify-content: start;
}

.button1:hover {
    background-color: #0D64E5;
    color: #CEE0FA;
}

/* Media Queries for Ligne2 */
@media (max-width: 600px) {

    .ligne2{
        flex-direction: column;
    }
  .block-text {
    width: 100%;
    text-align: center;
    padding: 20px;
      flex-direction: column;
  }

  .image1 {
      width: 100%;
    background-size: cover;
  }

  .bloc-texte-titre {
    font-size: 2.5rem;
  }

  .bloc-texte-second {
    font-size: 1.2rem;
  }

  .bloc-texte-tris {
    font-size: 1rem;
      flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
    .block-text {
        width: 100%;
    }

    image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    }
    .bloc-texte-titre {
        font-size: 4.5vw;
    }

    .bloc-texte-second {
        font-size: 3.5vw;
    }

    .bloc-texte-tris {
        font-size: 3.0vw;
    }
}
/*Fin Ligne 2---------------------------------------------------*/

/* Ligne 3 */
.Ligne3 {
    display: flex;
    margin-top: 100px;
    flex-direction: row;
    margin-bottom: 200px;
    text-align: center;
}

.log1 {
    flex: 1;
    width: 30%;
    height: 10vh;
    margin-right: 15%;
}

.texte1 {
    flex: 2;
    width: 40%;
    height: 10vh;
}

.texte2 {
    flex: 2;
    width: 25%;
    height: 10vh;
}

.bloc-texte-2 {
    display: block;
    font-size: 2vw;
    flex-wrap: nowrap;
    line-height: 1;
}

/* Media query pour un viewport inférieur à 768px */
@media only screen and (max-width: 768px) {
    .Ligne3 {
        flex-direction: column; /* Modifier la direction du flex en colonne pour un viewport plus petit */
    }

    .log1 {
        width: 100%; /* Rendre le logo à la largeur de 100% pour qu'il prenne toute la largeur de la vue */
    }

    .texte1, .texte2 {
        width: 100%; /* Rendre le texte à la largeur de 100% pour qu'il prenne toute la largeur de la vue */
    }

    .bloc-texte-2 {
        font-size: 4vw; /* Réduire la taille de la police pour un viewport plus petit */
    }
}

/* Fin Ligne 3--------------------------------------*/

/* Ligne 4--------------------------------------*/
.ligne4{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 5px;
    margin-bottom: 100px;
}

.box1, .box2, .box3 {
    display: inline-block;
    height: 500px;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
}

.box1 {
    background-color: #F0F5FF;
    width: 40%;
}

.box2 {
    background-color: #FEEDFA;
    width: 40%;
}

.box3 {
    background-color: #F5F6F7;
    width: 40%;
}

.titre{
    width: 100%;
    font-size: xx-large;
    margin-left: 20px;
}

.texte{
    width: 100%;
    font-size: larger;
    margin-left: 10px;
    color: gray;
}

.image2{
    align-items: center;
    margin-top: 40px;
    margin-left: 40px;
    color: darkgray;
}

.button1{
    background-color: white;
    color: #7EACF2;
    transition: color 0.3s ease;
    font-size: 20px;
    width: 200px;
    padding: 10px;
    display: inline-block;
    border-radius: 7%;
    margin: auto;
    text-align: center;
}

.elements1:hover{
    background-color: #0D64E5;
    color:#7EACF2;
}

.button2{
    background-color: white;
    color: mediumpurple;
    transition: color 0.3s ease;
    font-size: 20px;
    width: 200px;
    padding: 10px;
    display: inline-block;
    border-radius: 7%;
    margin: auto;
    text-align: center;
}

.elements2:hover{
    background-color: #0D64E5;
    color: #7EACF2;
}

.button3{
    background-color: white;
    color: black;
    transition: color 0.3s ease;
    font-size: 20px;
    width: 200px;
    padding: 10px;
    display: inline-block;
    border-radius: 7%;
    margin: auto;
    text-align: center;
}

.elements3:hover{
    background-color: #0D64E5;
    color: #7EACF2;
}

@media (max-width: 900px) {
    .ligne4{
        flex-direction: column;
    }
    .box1, .box2, .box3 {
        width: 100%;
    }

    .titre{
        font-size: x-large;
    }

    .texte{
        font-size: medium;
    }

    .button1, .button2, .button3 {
        width: 150px;
    }
}

@media (max-width: 600px) {
    .ligne4 {
        flex-direction: column;
    }

    .button1, .button2, .button3 {
        width: 100%;
    }
}
/*----------------Ligne5----------------------*/


.ligne5{
    display: block;
    padding: 20px;
    background-color: #F5F6F7;
    width: fill;
    height: auto;
    margin-bottom: 50px;
    align-content: center;
}

.en-tete{
    text-align: center;
}

.image-en-ligne5{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-around;
    margin-bottom: 100px;
}

.image3{
    width: 100%;
      height: 464px;
    margin: 10px auto;
      background-image: url("UI Block/Project Photo.jpg");
      background-size: cover;
  }

  .image4{
    width: 100%;
      height: 464px;
    margin: 10px auto;
      background-image: url("UI Block/Project Photo2.jpg");
      background-size: cover;

  }

  .image5{
      width: 100%;
      height: 464px;
    margin: 10px auto;
      background-image: url("UI Block/Project Photo3.jpg");
      background-size: cover;

  }

.box4{
    display: block;
    width: 100%;
}

.titre2{
    width: 100%;
    font-size: xx-large;
    text-align: center;
}

.texte-bleu{
    color: #0D64E5;
    text-align: left;
    text-align: center;
}


@media screen and (max-width: 768px) {
    .
  .image-en-ligne5 {
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .image3{
    width: fill;
      height: fill;
    margin: 5px auto;
      background-image: url("UI Block/Project Photo.jpg");
      background-size: cover;
  }

  .image4{
    width: fill;
      height: fill;
    margin: 5px auto;
      background-image: url("UI Block/Project Photo2.jpg");
  }

  .image5{
      width: fill;
      height: fill;
    margin: 5px auto;
      background-image: url("UI Block/Project Photo3.jpg");
  }

  .box4 {
    padding: 0 20px;
  }

  .titre2 {
    font-size: x-large;
  }
}

/*-----------------------Fin Ligne 5------------------------- */

/*-----------------------Début Ligne 6-------------------------- */

/* Ligne 6 */
.ligne6 {
    display: flex;
    margin-top: 5vh; /* Modifier la marge supérieure en 5vh pour qu'elle soit proportionnelle à la hauteur de la vue */
    margin-bottom: 100px;
    align-content: center;
    border: #7FC884 solid;
}

.box-bis{
    width: 40%;
    display: block;
    border: #7FC884 solid;
    padding-left: 10px;
}

.texte3 {

    font-size: 2vh; /* Modifier la taille de la police en 2vh pour qu'elle soit proportionnelle à la hauteur de la vue */
    width: 60%;
    line-height: 1.5; /* Modifier la hauteur de ligne en unité sans dimension pour maintenir la relation avec la taille de la police */
    border-left: 0.4vw solid #0D64E5; /* Convertir l'épaisseur de la bordure en vw */
    padding: 2vh; /* Modifier le rembourrage en 2vh pour qu'il soit proportionnel à la hauteur de la vue */
    height: auto;
}

.imaged {
    width: 30%;
    background-image: url("UI Block/Photo.jpg");
}

.titre3 {
    width: 60%;
    font-size: 5vh; /* Modifier la taille de la police en 4vh pour qu'elle soit proportionnelle à la hauteur de la vue */
    text-align: start;
    margin-left: 2.5%; /* Modifier la marge gauche en 2.5% pour qu'elle soit proportionnelle à la largeur de la vue */
    line-height: 1;
}

/* Media query pour les écrans de moins de 600px */
@media screen and (min-width: 600px ) and (max-width:1024px) {
    .ligne6 {
        flex-direction: column;
    }
    .texte3, .image6 {
        width: fill;
    }
    .titre3 {
        font-size: 3vh; /* Modifier la taille de la police en 3vh pour qu'elle soit proportionnelle à la hauteur de la vue */
    }
}

/* Media query pour les écrans de moins de 400px */
@media screen and (max-width: 400px) {
    .titre3 {
        font-size: 2vh; /* Modifier la taille de la police en 2vh pour qu'elle soit proportionnelle à la hauteur de la vue */
    }
}

/*-----------------------Fin Ligne 6------------------------- */

/*-----------------------Début Ligne 7-------------------------- */


/* Ligne 7 */
.ligne7 {
    display: block;
    margin-top: 100px;
    padding: 5%; /* Modifier le rembourrage en 5% pour le rendre proportionnel à la largeur de la vue */
    align-content: center;
    border: #7FC884 solid;
}

.en-tete2 {
    text-align: center;
    font-size: 6vh; /* Modifier la taille de la police en 6vh pour la rendre proportionnelle à la hauteur de la vue */
}

.image-en-ligne7{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 100px;
    align-content: center;

}
.conteneur-image{
    width: 100%; /* Modifier la largeur en 90% pour qu'elle soit proportionnelle à la largeur de la vue */
    margin-bottom: 20px;
    border: #7FC884 solid;
}

.image6{
    width: 100%;
    height: 424px;
    background-image: url("UI Block/Photo.png");
    background-size: contain;
    border: #0D64E5 solid;
    background-color: #7FC884;
}

.image7{
    width: 100%;
    height: 424px;
    background-image: url("UI Block/Photo2.png");
    background-size: cover;
    background-color: #ffbad7;
}

.image8{
    width: 100%;
    height: 424px;
    background-image: url("UI Block/Photo3.png");
    background-size: cover;
    background-color: #ffd473;
}

.image9{
    width: 100%;
    height: 424px;
    background-image: url("UI Block/Photo4.png");
    background-size: cover;
    background-color: #71ffec;
}


.Nom {
    text-align: start;
    width: 100%;
    font-size: 3vh; /* Modifier la taille de la police en 3vh pour la rendre proportionnelle à la hauteur de la vue */
    margin-top: 2vh; /* Modifier la marge supérieure en 2vh pour la rendre proportionnelle à la hauteur de la vue */
    background-image: url("UI Block/Photo3.png");
}

.Fonction {
    text-align: start;
    width: 100%;
    font-size: 2.5vh; /* Modifier la taille de la police en 2.5vh pour la rendre proportionnelle à la hauteur de la vue */
    margin-top: 1vh; /* Modifier la marge supérieure en 1vh pour la rendre proportionnelle à la hauteur de la vue */
    flex-wrap: nowrap;
}

.texte4 {
    width: 100%;
    font-size: 2.5vh; /* Modifier la taille de la police en 2.5vh pour la rendre proportionnelle à la hauteur de la vue */
    margin-left: 1vh; /* Modifier la marge gauche en 1vh pour la rendre proportionnelle à la hauteur de la vue */
    text-align: center;
    margin-bottom: 2vh; /* Modifier la marge inférieure en 2vh pour la rendre proportionnelle à la hauteur de la vue */
}

@media screen and (max-width: 600px){
    .ligne7{
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }

    .image6, .image7, .image8, .image9 {

    margin-bottom: 20px;
}
    .image-en-ligne7 {
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 50px;
  }


}

/*-----------------------Fin Ligne 7------------------------- */

/*-----------------------Début Ligne 8-------------------------- */

.ligne8{
    display: flex;
    text-align: start;
    padding-left: 10%;
    padding-bottom: 10%;
    width: 80%;
    justify-content: space-between;
}

.texte5{
    display: block;
    text-align: start;
    font-size: large;
    margin-right: 20%;
    line-height: 1;

}
.conteneur-image1{
    display: flex;
    width: auto;
    height: auto;
}
.image10{
    text-align: center;
    background-size: cover;
    width: 10%;
    border: #7EACF2 solid;
}

@media only screen and (min-width: 600px) {
  .texte5 h1 {
    font-size: 2.5em;
  }
}

/*-----------------------Fin Ligne 8------------------------- */

/*-----------------------Début Ligne 9-------------------------- */

/* Ligne 9 */
.ligne9 {
    display: flex;
    width: fill;
    padding: 2%;
    background-color: #061C3D;
    text-align: center;
    border: #0D64E5 solid;
    justify-content: space-between;
}

.image11 {
    width: 38%;
    height: 536px;
    background-image: url("UI Block/902.png");
}

.block-texte9 {
    width: 50%;
    padding: 2.5%;
}

.titre9 {
    text-align: left;
    color: #F5F6F7;
    font-size: 2vw;
    line-height: 1;
    margin-top: 2vh;
}

.texte9 {
    text-align: left;
    color: #F5F6F7;
    font-size: 1vw;
    line-height: 1.5;
}

.elements-droite9 {
    background-color: #0D64E5;
    color: white;
    transition: color 0.3s ease;
    font-size: 2vw;
    padding: 2.5%;
    display: inline-block;
    border-radius: 5%;
    margin-top: 20px; /* Ajout d'une marge entre le texte et le bouton */
}

.elements-droite9:hover {
    background-color: #F0F5FF;
    color: #7EACF2;
}


/* Media queries pour les écrans de petite taille */
@media only screen and (max-width: 600px) {
    .ligne9{
        flex-direction: column;
    }
    .image11 {
        width: 10%;
    }

    .titre9 {
        font-size: 1vw; /* Modifier la taille de la police en 6vw pourcentage de la largeur de la vue */
    }

    .texte9 {
        font-size: 1vw; /* Modifier la taille de la police en 5vw pourcentage de la largeur de la vue */
    }

    .elements-droite9 {
        font-size: 1vw; /* Modifier la taille de la police en 5vw pourcentage de la largeur de la vue */
        padding: 5%; /* Modifier le rembourrage en 5% */
        margin-right: 5%; /* Modifier la marge droite en 5% */
    }
}


/*-----------------------Fin Ligne 9------------------------- */

/*-----------------------Debut Ligne 10------------------------- */

/* Ligne 10 */
.ligne10 {
    display: flex;
    margin: 2vw; /* Utiliser une marge relative en fonction de la largeur de la vue */
    justify-content: space-evenly;
    border: #7EACF2 solid;
}

.colonne1 {
    display: block;
    margin-top: 2vw; /* Utiliser une marge relative en fonction de la largeur de la vue */
    border: #7EACF2 solid;
}

.titre10 {
    font-size: 1vw; /* Utiliser une taille de police relative en fonction de la largeur de la vue */
    text-align: start;
    color: #6F7C8F;
    line-height: 1;
    border: #7EACF2;
}

.texte10 {
    display: block;
    font-size: 0.2vw; /* Utiliser une taille de police relative en fonction de la largeur de la vue */
    text-align: start;
    line-height: 1;
    border: #7EACF2 solid;
}

.Liste {
    text-align: start;
    display: block;
    justify-content: space-between;
    border: #7EACF2 solid;
}

.elements-liste {
    color: darkgray;
    transition: color 0.3s ease;
    font-size: 1vw; /* Utiliser une taille de police relative en fonction de la largeur de la vue */
    position: relative;
    margin-bottom: 2vw; /* Utiliser une marge relative en fonction de la largeur de la vue */
}

.elements-liste::before {
    content: "";
    position: absolute;
    left: -2vw; /* Utiliser une position relative en fonction de la largeur de la vue */
    top: 50%;
    transform: translateY(-50%);
    width: 2vw; /* Utiliser une largeur relative en fonction de la largeur de la vue */
    height: 0.2vw; /* Utiliser une hauteur relative en fonction de la largeur de la vue */
    background-color: transparent;
    transition: background-color 0.3s ease;
    margin-right: 1vw; /* Utiliser une marge relative en fonction de la largeur de la vue */
}

.elements-liste:hover {
    color: #8CB5F3;
}

.elements-liste:hover::before {
    background-color: #8CB5F3;
}


@media screen and (max-width: 600px) {
  .ligne10 {
    flex-direction: column;
  }

  .colonne1 {
    margin-top: 1vw;
  }

  .titre10 {
    font-size: 4vw;
  }

  .texte10 {
    font-size: 1vw;
  }

  .elements-liste {
    font-size: 3vw;
  }
}


/*-----------------------Fin Ligne 10------------------------- */

.footer{
    font-size: x-large;
    color: #6F7C8F;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    border-color: darkgray;
}