
    .body{
        background-color: white;;
    }

    .header{
        display: block;
        align-items:center;
        border: 1px solid black;
        justify-content: space-around;
    }

    .prem{
        display: flex;
        align-items: center;
        margin: 5px;
        justify-content: space-around;
        justify-content: space-between;
    }

    .box{
        margin: 10px;
        display: block;
        background-color: lightgray;
        align-items:center;
        border: 1px solid black;
        justify-items: center;
    }

    .box1{
        margin: 10px;
        display: flex;
        background-color: salmon;
        align-items:center;
        border: 1px solid black;
        justify-content: space-around;
    }

    .boxb{
        display: block;
        align-items: center;
        justify-content: space-around;
        margin: 5px;
    }

    .boxb1{
        display: flex;
        border-radius: 5px;
        background-color: yellow;
        justify-content: space-around;
        align-items: center;
        margin: 5px;
    }

    .boxb2{
        display: flex;
        background-color: darkcyan;
        border-radius: 5px;
        margin: 5px;
        align-items: center;
        justify-content: space-around;
    }
    .gris{
        background-color: darkgray;
        height: 20px;
        width: 25%;
    }

    .jaune{
        background-color: gold;
        height: 20px;
        width: 45%;
    }

    .vert{
        background-color: olivedrab;
        height: 30px;
        margin-left: 7px;
        margin-right: 7px;

    }

    .trois_1{
        background-color: midnightblue;
        height: 30px;
        width: 60%;
        align-items: start;
    }

    .trois_2{
        background-color: darkcyan;
        width: 20px;
        height: 30px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .bleu, .purple, .red, .yellow {
    height: 160px;
    width: 23%;

    }

    .bleu {
        background-color: blue;
    }

    .purple {
        background-color: purple;
    }

    .red {
        background-color: orangered;
    }

    .yellow {
        background-color: darkgoldenrod;
    }

    .basr{
        background-color: maroon;
        height: 120px;
        width: 1400px;
        border-radius: 10px;
        margin-left: 10px;
    }

    .noir{
            border-radius: 5px;
            background-color: black;
            border: 2px solid white;
            width: 120px;
            height: 40px;
            margin: 5px;
    }

    .rouge{
        background-color: red;
        width: 200px;
        height: 50px;
    }

    .brun{
        background-color: beige;
        width: 30px;
        height: 50px;
        margin: 05px;
        border-radius: 5px;
        border: black solid;
    }